.header{
    .header-title{
        font-size: 25px;
        line-height: 55px;
        color: #ffffff;
    }
    .menu-item{
      text-align: center;
      cursor: pointer;
      .header-menu-icon{
        color: #fcfcfc;
      }
    }
    .menu-item:hover{
        background-color: #0c7be2;
        // border-bottom: solid 5px #dedfed;
    }

}
.userlistMenu{
    .itemTxt{
        margin-left: 12px;
    }
}


.global-search-wrapper {
  padding-right: 50px;
}

.global-search {
  width: 100%;
}

.global-search.ant-select-auto-complete .ant-select-selection--single {
  // margin-right: -46px;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 62px;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix {
  right: 0;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.global-search-item-count {
  position: absolute;
  right: 16px;
}

.searchtxt{
    color: #f60505;
    margin: 0 3px;
}
.ant-select-search__field.ant-input-affix-wrapper{
    top:-1px;
}
