// @import "~antd/dist/antd.less";   // 引入官方提供的 less 样式入口文件
// @import "~antd/dist/antd.css";   // 引入官方提供的 less 样式入口文件
@import  "./test/iconfont.css";
// @import  url("./test/iconfont.css");
// @import "your-theme-file.less";   // 用于覆盖上面定义的变量
// @import "./custom.less";   // 用于覆盖上面定义的变量
// @icon-url: `"/iconfont/iconfont"`; // 把 iconfont 地址改到本地

:global(.anticon) {  /* :global() 是为了覆盖全局class .anticon 的样式 */
  &:before {
    /* 优先调用 anticon-user 字体，就是上面图例创建的 anticon-custom，名字对上就行，我自己的程序叫 anticon-user 了 */
    font-family: "anticon", "anticon-custom" !important;
    /* 默认样式是这样
        font-family: "anticon" !important;
    */
  }
}


.ant-layout-header{
    // background: #ffffff
    background: #1890ff
}
.ant-layout-sider{
    background: #fdfbfb
}
.ant-tag{
    margin-bottom: 8px;
}
.backup-button{
    cursor: pointer;
    float:right;
    // margin-right: 30px;
    padding: 4px;
    border-radius: 6px;
    color: #8f9593;
    font-weight: bolder;
    // font-size: 25px;
}
.backup-button:hover{
    background-color: #56a1d1;
    color: #f6f7f7;
}

.pageContent{
    margin-top: -16px;
}
