.stateBotton{
    padding: 6px;
    border-radius: 5px;
    background-color: #4684d5;
    color: #fbfbfb;
    font-weight: bolder;
}
.exportMenuWrap{
    .tableexport-caption{
        padding-top: 0;
        padding-bottom:0;
        color: rgba(0, 0, 0, 0.45);
        text-align: inherit;
        caption-side: inherit;
        .button-default{
            // font-weight: bold;
            font-size: 15px;
            color: #fffefe;
            cursor: pointer;
            line-height: 30px;
            background-color: #6ca7ec;
        }
        .button-default:hover{
            background-color: #0c70b8;
        }
    }
}
